Repository iamphj3/2023-KU-HACKERTON-SYMPHONY, pull requests merged in 2023-08, with the labels that each got.

#20 [server/HS] 이미지 유사도 비교 AI 모델 생성
  server/AI/imageRetrieval.py
  server/main.py
Labels: server, AI

#10 [client] 홈 UI 구현
  client/.eslintrc.cjs
  client/.prettierrc.cjs
  client/Router.jsx
  client/index.html
  client/package.json
  client/public/favicon.svg
  client/public/vite.svg
  client/src/App.jsx
  client/src/assets/icons/ic_arrow_down.svg
  client/src/assets/icons/ic_cancel.svg
  client/src/assets/icons/ic_comment.svg
  client/src/assets/icons/ic_heart.svg
  client/src/assets/icons/ic_instag_logo.svg
  client/src/assets/icons/ic_search.svg
  client/src/assets/icons/ic_toggle_off.svg
  client/src/assets/icons/ic_toggle_on.svg
  client/src/assets/icons/ic_upload_purple.svg
  client/src/assets/icons/ic_upload_white.svg
  client/src/assets/icons/index.js
  client/src/assets/react.svg
  client/src/components/Result/PostCard.jsx
  client/src/components/Result/PostResult.jsx
  client/src/components/Result/Result.jsx
  client/src/components/Result/index.js
  client/src/components/SearchBox/DetailFilter.jsx
  client/src/components/SearchBox/HashtagSearch.jsx
  client/src/components/SearchBox/ImageSearch.jsx
  client/src/components/SearchBox/SearchBox.jsx
  client/src/components/SearchBox/index.js
  client/src/components/SearchList/HashTag.jsx
  client/src/components/SearchList/SearchList.jsx
  client/src/components/SearchList/index.js
  client/src/components/Trending/Trending.jsx
  client/src/components/Trending/TrendingRank.jsx
  client/src/components/Trending/index.js
  client/src/components/common/Header/Header.jsx
  client/src/components/common/Header/index.js
  client/src/components/common/TabSwitcher/TabSwitcher.jsx
  client/src/components/common/TabSwitcher/index.js
  client/src/hooks/.keep
  client/src/layouts/BaseLayout/BaseLayout.jsx
  client/src/layouts/BaseLayout/index.js
  client/src/main.jsx
  client/src/modules/client/index.js
  client/src/pages/HomePage.jsx
  client/src/pages/ResultPage.jsx
  client/src/recoil/atom.js
  client/src/styles/GlobalStyle.js
  client/src/styles/theme.js
  client/src/utils/getToday.js
  client/src/utils/index.js
  client/vite.config.js
  client/yarn.lock
Labels: client, UI

#32 [client] 에러페이지 UI 구현
  client/Router.jsx
  client/src/components/Error/Error.jsx
  client/src/components/Error/index.js
  client/src/components/Result/Result.jsx
  client/src/layouts/BaseLayout/BaseLayout.jsx
  client/src/pages/ErrorPage.jsx
  client/src/styles/GlobalStyle.js
Labels: client

#44 [client/HJ] 홈 화면 API 연결
  client/.eslintrc.cjs
  client/package.json
  client/src/apis/axios.js
  client/src/apis/result.js
  client/src/apis/search.js
  client/src/apis/trending.js
  client/src/components/Result/PostCard.jsx
  client/src/components/Result/PostResult.jsx
  client/src/components/Result/Result.jsx
  client/src/components/Trending/Trending.jsx
  client/src/components/Trending/TrendingRank.jsx
  client/src/components/common/TabSwitcher/TabSwitcher.jsx
  client/src/hooks/.keep
  client/src/hooks/useGetPostList.jsx
  client/src/utils/formatDate.js
  client/src/utils/getToday.js
  client/src/utils/index.js
  client/yarn.lock
Labels: client, API

#47 [client/HJ] 검색 결과 화면 API 연결
  client/.eslintrc.cjs
  client/.prettierrc.cjs
  client/package.json
  client/src/apis/result.js
  client/src/apis/search.js
  client/src/apis/trending.js
  client/src/components/Result/PostCard.jsx
  client/src/components/Result/PostResult.jsx
  client/src/components/Result/Result.jsx
  client/src/components/SearchBox/DetailFilter.jsx
  client/src/components/SearchBox/HashtagSearch.jsx
  client/src/components/SearchBox/ImageSearch.jsx
  client/src/components/Trending/TrendingRank.jsx
  client/src/pages/HomePage.jsx
  client/src/recoil/atom.js
  client/yarn.lock
Labels: client, API

#49 [server/JM] fix API
  server/routers/hashtag.py
Labels: fix
